/* header와 footer 같이 모든 페이지 공통사항 저장 */

header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: top 0.5s;
}
header .logo a {
    display: block;
    width: 188px;
    height: 30px;
    background: url(../images/common/logo_w.svg) no-repeat center center / cover;
}
header .util {
    display: flex;
    gap: 20px;
}
header .util .mypage,
header .util .lang .lang_open,
header .util .search .search_open {
    display: block;
    width: 28px;
    height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_79_490' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_79_490)'%3E%3Cpath d='M14.0001 14.0003C12.7167 14.0003 11.6181 13.5434 10.7042 12.6295C9.79036 11.7156 9.33341 10.617 9.33341 9.33366C9.33341 8.05033 9.79036 6.95171 10.7042 6.03783C11.6181 5.12394 12.7167 4.66699 14.0001 4.66699C15.2834 4.66699 16.382 5.12394 17.2959 6.03783C18.2098 6.95171 18.6667 8.05033 18.6667 9.33366C18.6667 10.617 18.2098 11.7156 17.2959 12.6295C16.382 13.5434 15.2834 14.0003 14.0001 14.0003ZM4.66675 21.0003V20.067C4.66675 19.4059 4.83689 18.7982 5.17716 18.2441C5.51744 17.6899 5.96953 17.267 6.53341 16.9753C7.73897 16.3725 8.96397 15.9205 10.2084 15.6191C11.4529 15.3177 12.7167 15.167 14.0001 15.167C15.2834 15.167 16.5473 15.3177 17.7917 15.6191C19.0362 15.9205 20.2612 16.3725 21.4667 16.9753C22.0306 17.267 22.4827 17.6899 22.823 18.2441C23.1633 18.7982 23.3334 19.4059 23.3334 20.067V21.0003C23.3334 21.642 23.1049 22.1913 22.648 22.6482C22.1911 23.1052 21.6417 23.3337 21.0001 23.3337H7.00008C6.35841 23.3337 5.80911 23.1052 5.35216 22.6482C4.89522 22.1913 4.66675 21.642 4.66675 21.0003ZM7.00008 21.0003H21.0001V20.067C21.0001 19.8531 20.9466 19.6587 20.8397 19.4837C20.7327 19.3087 20.5917 19.1725 20.4167 19.0753C19.3667 18.5503 18.307 18.1566 17.2376 17.8941C16.1681 17.6316 15.089 17.5003 14.0001 17.5003C12.9112 17.5003 11.832 17.6316 10.7626 17.8941C9.69314 18.1566 8.63341 18.5503 7.58341 19.0753C7.40841 19.1725 7.26744 19.3087 7.1605 19.4837C7.05355 19.6587 7.00008 19.8531 7.00008 20.067V21.0003ZM14.0001 11.667C14.6417 11.667 15.1911 11.4385 15.648 10.9816C16.1049 10.5246 16.3334 9.97533 16.3334 9.33366C16.3334 8.69199 16.1049 8.14269 15.648 7.68574C15.1911 7.2288 14.6417 7.00033 14.0001 7.00033C13.3584 7.00033 12.8091 7.2288 12.3522 7.68574C11.8952 8.14269 11.6667 8.69199 11.6667 9.33366C11.6667 9.97533 11.8952 10.5246 12.3522 10.9816C12.8091 11.4385 13.3584 11.667 14.0001 11.667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_79_493' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_79_493)'%3E%3Cpath d='M13.9999 25.6663C12.4055 25.6663 10.8985 25.3601 9.47909 24.7476C8.05964 24.1351 6.82006 23.299 5.76034 22.2393C4.70061 21.1795 3.8645 19.94 3.252 18.5205C2.6395 17.1011 2.33325 15.5941 2.33325 13.9997C2.33325 12.3858 2.6395 10.874 3.252 9.46426C3.8645 8.05454 4.70061 6.81981 5.76034 5.76009C6.82006 4.70037 8.05964 3.86426 9.47909 3.25176C10.8985 2.63926 12.4055 2.33301 13.9999 2.33301C15.6138 2.33301 17.1256 2.63926 18.5353 3.25176C19.9451 3.86426 21.1798 4.70037 22.2395 5.76009C23.2992 6.81981 24.1353 8.05454 24.7478 9.46426C25.3603 10.874 25.6666 12.3858 25.6666 13.9997C25.6666 15.5941 25.3603 17.1011 24.7478 18.5205C24.1353 19.94 23.2992 21.1795 22.2395 22.2393C21.1798 23.299 19.9451 24.1351 18.5353 24.7476C17.1256 25.3601 15.6138 25.6663 13.9999 25.6663ZM13.9999 23.2747C14.5055 22.5747 14.943 21.8455 15.3124 21.0872C15.6819 20.3288 15.9833 19.5219 16.2166 18.6663H11.7833C12.0166 19.5219 12.318 20.3288 12.6874 21.0872C13.0569 21.8455 13.4944 22.5747 13.9999 23.2747ZM10.9666 22.808C10.6166 22.1663 10.3103 21.5004 10.0478 20.8101C9.78534 20.1198 9.56659 19.4052 9.39159 18.6663H5.94992C6.51381 19.6386 7.21867 20.4844 8.0645 21.2038C8.91034 21.9233 9.8777 22.458 10.9666 22.808ZM17.0333 22.808C18.1221 22.458 19.0895 21.9233 19.9353 21.2038C20.7812 20.4844 21.486 19.6386 22.0499 18.6663H18.6083C18.4333 19.4052 18.2145 20.1198 17.952 20.8101C17.6895 21.5004 17.3833 22.1663 17.0333 22.808ZM4.95825 16.333H8.92492C8.86659 15.9441 8.82284 15.5601 8.79367 15.1809C8.7645 14.8018 8.74992 14.408 8.74992 13.9997C8.74992 13.5913 8.7645 13.1976 8.79367 12.8184C8.82284 12.4393 8.86659 12.0552 8.92492 11.6663H4.95825C4.86103 12.0552 4.78811 12.4393 4.7395 12.8184C4.69089 13.1976 4.66659 13.5913 4.66659 13.9997C4.66659 14.408 4.69089 14.8018 4.7395 15.1809C4.78811 15.5601 4.86103 15.9441 4.95825 16.333ZM11.2583 16.333H16.7416C16.7999 15.9441 16.8437 15.5601 16.8728 15.1809C16.902 14.8018 16.9166 14.408 16.9166 13.9997C16.9166 13.5913 16.902 13.1976 16.8728 12.8184C16.8437 12.4393 16.7999 12.0552 16.7416 11.6663H11.2583C11.1999 12.0552 11.1562 12.4393 11.127 12.8184C11.0978 13.1976 11.0833 13.5913 11.0833 13.9997C11.0833 14.408 11.0978 14.8018 11.127 15.1809C11.1562 15.5601 11.1999 15.9441 11.2583 16.333ZM19.0749 16.333H23.0416C23.1388 15.9441 23.2117 15.5601 23.2603 15.1809C23.3089 14.8018 23.3333 14.408 23.3333 13.9997C23.3333 13.5913 23.3089 13.1976 23.2603 12.8184C23.2117 12.4393 23.1388 12.0552 23.0416 11.6663H19.0749C19.1333 12.0552 19.177 12.4393 19.2062 12.8184C19.2353 13.1976 19.2499 13.5913 19.2499 13.9997C19.2499 14.408 19.2353 14.8018 19.2062 15.1809C19.177 15.5601 19.1333 15.9441 19.0749 16.333ZM18.6083 9.33301H22.0499C21.486 8.36079 20.7812 7.51495 19.9353 6.79551C19.0895 6.07606 18.1221 5.54134 17.0333 5.19134C17.3833 5.83301 17.6895 6.49898 17.952 7.18926C18.2145 7.87954 18.4333 8.59412 18.6083 9.33301ZM11.7833 9.33301H16.2166C15.9833 8.47745 15.6819 7.67051 15.3124 6.91217C14.943 6.15384 14.5055 5.42467 13.9999 4.72467C13.4944 5.42467 13.0569 6.15384 12.6874 6.91217C12.318 7.67051 12.0166 8.47745 11.7833 9.33301ZM5.94992 9.33301H9.39159C9.56659 8.59412 9.78534 7.87954 10.0478 7.18926C10.3103 6.49898 10.6166 5.83301 10.9666 5.19134C9.8777 5.54134 8.91034 6.07606 8.0645 6.79551C7.21867 7.51495 6.51381 8.36079 5.94992 9.33301Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_79_496' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_79_496)'%3E%3Cpath d='M11.0833 18.6667C8.96389 18.6667 7.17014 17.9326 5.70208 16.4646C4.23403 14.9965 3.5 13.2028 3.5 11.0833C3.5 8.96389 4.23403 7.17014 5.70208 5.70208C7.17014 4.23403 8.96389 3.5 11.0833 3.5C13.2028 3.5 14.9965 4.23403 16.4646 5.70208C17.9326 7.17014 18.6667 8.96389 18.6667 11.0833C18.6667 11.9389 18.5306 12.7458 18.2583 13.5042C17.9861 14.2625 17.6167 14.9333 17.15 15.5167L23.6833 22.05C23.8972 22.2639 24.0042 22.5361 24.0042 22.8667C24.0042 23.1972 23.8972 23.4694 23.6833 23.6833C23.4694 23.8972 23.1972 24.0042 22.8667 24.0042C22.5361 24.0042 22.2639 23.8972 22.05 23.6833L15.5167 17.15C14.9333 17.6167 14.2625 17.9861 13.5042 18.2583C12.7458 18.5306 11.9389 18.6667 11.0833 18.6667ZM11.0833 16.3333C12.5417 16.3333 13.7812 15.8229 14.8021 14.8021C15.8229 13.7812 16.3333 12.5417 16.3333 11.0833C16.3333 9.625 15.8229 8.38542 14.8021 7.36458C13.7812 6.34375 12.5417 5.83333 11.0833 5.83333C9.625 5.83333 8.38542 6.34375 7.36458 7.36458C6.34375 8.38542 5.83333 9.625 5.83333 11.0833C5.83333 12.5417 6.34375 13.7812 7.36458 14.8021C8.38542 15.8229 9.625 16.3333 11.0833 16.3333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
/*************** 아래로 스크롤 내릴때 header가 사라짐 ***********************/
header.fixed.gnb_up {
    top: var(--header-h-m);
}
header.fixed.gnb_up.menu_over {
    top: 0;
}
/*********** fixed, menu_over : start ***********/
header.fixed,
header.menu_over {
    background-color: #fff;
    color: var(--tit-color);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
}
header.menu_over::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 410px;
    background-color: #fff;
}
header.fixed .logo a,
header.menu_over .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .util .mypage,
header.menu_over .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_79_490' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_79_490)'%3E%3Cpath d='M14.0001 14.0003C12.7167 14.0003 11.6181 13.5434 10.7042 12.6295C9.79036 11.7156 9.33341 10.617 9.33341 9.33366C9.33341 8.05033 9.79036 6.95171 10.7042 6.03783C11.6181 5.12394 12.7167 4.66699 14.0001 4.66699C15.2834 4.66699 16.382 5.12394 17.2959 6.03783C18.2098 6.95171 18.6667 8.05033 18.6667 9.33366C18.6667 10.617 18.2098 11.7156 17.2959 12.6295C16.382 13.5434 15.2834 14.0003 14.0001 14.0003ZM4.66675 21.0003V20.067C4.66675 19.4059 4.83689 18.7982 5.17716 18.2441C5.51744 17.6899 5.96953 17.267 6.53341 16.9753C7.73897 16.3725 8.96397 15.9205 10.2084 15.6191C11.4529 15.3177 12.7167 15.167 14.0001 15.167C15.2834 15.167 16.5473 15.3177 17.7917 15.6191C19.0362 15.9205 20.2612 16.3725 21.4667 16.9753C22.0306 17.267 22.4827 17.6899 22.823 18.2441C23.1633 18.7982 23.3334 19.4059 23.3334 20.067V21.0003C23.3334 21.642 23.1049 22.1913 22.648 22.6482C22.1911 23.1052 21.6417 23.3337 21.0001 23.3337H7.00008C6.35841 23.3337 5.80911 23.1052 5.35216 22.6482C4.89522 22.1913 4.66675 21.642 4.66675 21.0003ZM7.00008 21.0003H21.0001V20.067C21.0001 19.8531 20.9466 19.6587 20.8397 19.4837C20.7327 19.3087 20.5917 19.1725 20.4167 19.0753C19.3667 18.5503 18.307 18.1566 17.2376 17.8941C16.1681 17.6316 15.089 17.5003 14.0001 17.5003C12.9112 17.5003 11.832 17.6316 10.7626 17.8941C9.69314 18.1566 8.63341 18.5503 7.58341 19.0753C7.40841 19.1725 7.26744 19.3087 7.1605 19.4837C7.05355 19.6587 7.00008 19.8531 7.00008 20.067V21.0003ZM14.0001 11.667C14.6417 11.667 15.1911 11.4385 15.648 10.9816C16.1049 10.5246 16.3334 9.97533 16.3334 9.33366C16.3334 8.69199 16.1049 8.14269 15.648 7.68574C15.1911 7.2288 14.6417 7.00033 14.0001 7.00033C13.3584 7.00033 12.8091 7.2288 12.3522 7.68574C11.8952 8.14269 11.6667 8.69199 11.6667 9.33366C11.6667 9.97533 11.8952 10.5246 12.3522 10.9816C12.8091 11.4385 13.3584 11.667 14.0001 11.667Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed .util .lang .lang_open,
header.menu_over .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_79_493' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_79_493)'%3E%3Cpath d='M13.9999 25.6663C12.4055 25.6663 10.8985 25.3601 9.47909 24.7476C8.05964 24.1351 6.82006 23.299 5.76034 22.2393C4.70061 21.1795 3.8645 19.94 3.252 18.5205C2.6395 17.1011 2.33325 15.5941 2.33325 13.9997C2.33325 12.3858 2.6395 10.874 3.252 9.46426C3.8645 8.05454 4.70061 6.81981 5.76034 5.76009C6.82006 4.70037 8.05964 3.86426 9.47909 3.25176C10.8985 2.63926 12.4055 2.33301 13.9999 2.33301C15.6138 2.33301 17.1256 2.63926 18.5353 3.25176C19.9451 3.86426 21.1798 4.70037 22.2395 5.76009C23.2992 6.81981 24.1353 8.05454 24.7478 9.46426C25.3603 10.874 25.6666 12.3858 25.6666 13.9997C25.6666 15.5941 25.3603 17.1011 24.7478 18.5205C24.1353 19.94 23.2992 21.1795 22.2395 22.2393C21.1798 23.299 19.9451 24.1351 18.5353 24.7476C17.1256 25.3601 15.6138 25.6663 13.9999 25.6663ZM13.9999 23.2747C14.5055 22.5747 14.943 21.8455 15.3124 21.0872C15.6819 20.3288 15.9833 19.5219 16.2166 18.6663H11.7833C12.0166 19.5219 12.318 20.3288 12.6874 21.0872C13.0569 21.8455 13.4944 22.5747 13.9999 23.2747ZM10.9666 22.808C10.6166 22.1663 10.3103 21.5004 10.0478 20.8101C9.78534 20.1198 9.56659 19.4052 9.39159 18.6663H5.94992C6.51381 19.6386 7.21867 20.4844 8.0645 21.2038C8.91034 21.9233 9.8777 22.458 10.9666 22.808ZM17.0333 22.808C18.1221 22.458 19.0895 21.9233 19.9353 21.2038C20.7812 20.4844 21.486 19.6386 22.0499 18.6663H18.6083C18.4333 19.4052 18.2145 20.1198 17.952 20.8101C17.6895 21.5004 17.3833 22.1663 17.0333 22.808ZM4.95825 16.333H8.92492C8.86659 15.9441 8.82284 15.5601 8.79367 15.1809C8.7645 14.8018 8.74992 14.408 8.74992 13.9997C8.74992 13.5913 8.7645 13.1976 8.79367 12.8184C8.82284 12.4393 8.86659 12.0552 8.92492 11.6663H4.95825C4.86103 12.0552 4.78811 12.4393 4.7395 12.8184C4.69089 13.1976 4.66659 13.5913 4.66659 13.9997C4.66659 14.408 4.69089 14.8018 4.7395 15.1809C4.78811 15.5601 4.86103 15.9441 4.95825 16.333ZM11.2583 16.333H16.7416C16.7999 15.9441 16.8437 15.5601 16.8728 15.1809C16.902 14.8018 16.9166 14.408 16.9166 13.9997C16.9166 13.5913 16.902 13.1976 16.8728 12.8184C16.8437 12.4393 16.7999 12.0552 16.7416 11.6663H11.2583C11.1999 12.0552 11.1562 12.4393 11.127 12.8184C11.0978 13.1976 11.0833 13.5913 11.0833 13.9997C11.0833 14.408 11.0978 14.8018 11.127 15.1809C11.1562 15.5601 11.1999 15.9441 11.2583 16.333ZM19.0749 16.333H23.0416C23.1388 15.9441 23.2117 15.5601 23.2603 15.1809C23.3089 14.8018 23.3333 14.408 23.3333 13.9997C23.3333 13.5913 23.3089 13.1976 23.2603 12.8184C23.2117 12.4393 23.1388 12.0552 23.0416 11.6663H19.0749C19.1333 12.0552 19.177 12.4393 19.2062 12.8184C19.2353 13.1976 19.2499 13.5913 19.2499 13.9997C19.2499 14.408 19.2353 14.8018 19.2062 15.1809C19.177 15.5601 19.1333 15.9441 19.0749 16.333ZM18.6083 9.33301H22.0499C21.486 8.36079 20.7812 7.51495 19.9353 6.79551C19.0895 6.07606 18.1221 5.54134 17.0333 5.19134C17.3833 5.83301 17.6895 6.49898 17.952 7.18926C18.2145 7.87954 18.4333 8.59412 18.6083 9.33301ZM11.7833 9.33301H16.2166C15.9833 8.47745 15.6819 7.67051 15.3124 6.91217C14.943 6.15384 14.5055 5.42467 13.9999 4.72467C13.4944 5.42467 13.0569 6.15384 12.6874 6.91217C12.318 7.67051 12.0166 8.47745 11.7833 9.33301ZM5.94992 9.33301H9.39159C9.56659 8.59412 9.78534 7.87954 10.0478 7.18926C10.3103 6.49898 10.6166 5.83301 10.9666 5.19134C9.8777 5.54134 8.91034 6.07606 8.0645 6.79551C7.21867 7.51495 6.51381 8.36079 5.94992 9.33301Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open,
header.menu_over .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_79_496' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_79_496)'%3E%3Cpath d='M11.0833 18.6667C8.96389 18.6667 7.17014 17.9326 5.70208 16.4646C4.23403 14.9965 3.5 13.2028 3.5 11.0833C3.5 8.96389 4.23403 7.17014 5.70208 5.70208C7.17014 4.23403 8.96389 3.5 11.0833 3.5C13.2028 3.5 14.9965 4.23403 16.4646 5.70208C17.9326 7.17014 18.6667 8.96389 18.6667 11.0833C18.6667 11.9389 18.5306 12.7458 18.2583 13.5042C17.9861 14.2625 17.6167 14.9333 17.15 15.5167L23.6833 22.05C23.8972 22.2639 24.0042 22.5361 24.0042 22.8667C24.0042 23.1972 23.8972 23.4694 23.6833 23.6833C23.4694 23.8972 23.1972 24.0042 22.8667 24.0042C22.5361 24.0042 22.2639 23.8972 22.05 23.6833L15.5167 17.15C14.9333 17.6167 14.2625 17.9861 13.5042 18.2583C12.7458 18.5306 11.9389 18.6667 11.0833 18.6667ZM11.0833 16.3333C12.5417 16.3333 13.7812 15.8229 14.8021 14.8021C15.8229 13.7812 16.3333 12.5417 16.3333 11.0833C16.3333 9.625 15.8229 8.38542 14.8021 7.36458C13.7812 6.34375 12.5417 5.83333 11.0833 5.83333C9.625 5.83333 8.38542 6.34375 7.36458 7.36458C6.34375 8.38542 5.83333 9.625 5.83333 11.0833C5.83333 12.5417 6.34375 13.7812 7.36458 14.8021C8.38542 15.8229 9.625 16.3333 11.0833 16.3333Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.menu_over .gnb .gnb_wrap ul.depth1 > li {
    width: 224px;
}
header.fixed .gnb .gnb_wrap ul.depth1 > li > a,
header.menu_over .gnb .gnb_wrap ul.depth1 > li > a {
    color: #1d1d1d;
}
header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
    display: block !important;
}
header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
    color: #1d1d1d;
}
/*********** fixed, menu_over : end ***********/
@media screen and (min-width:1025px){
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap .gnb_util {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 180px;
        text-align: center;
        position: relative;
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: var(--header-h);
        font-size: 20px;
        font-weight: var(--bold-weight);
        color: #fff;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a > span::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -38px;
        transform: translate(-50%, 0);
        transition: width .3s ease-in-out;
        width: 0;
        height: 0;
        background-color: var(--point-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--point-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a > span::after {
        opacity: 1;
        width: 100%;
        height: 3px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none !important;
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        padding-top: 10px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        color: #fff;
        line-height: 2;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--bold-weight);
        color: var(--point-color);
    }
}/*@media*/
@media screen and (max-width:1300px){
    header .logo a {
        width: 138px;
        height: 22px;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 150px;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li {
        width: 150px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 18px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        font-size: 16px;
    }
    header .util .mypage,
    header .util .lang .lang_open,
    header .util .search .search_open {
        width: 24px;
        height: 24px;
        background-size: 24px;
    }
}
@media screen and (max-width:1024px){
            header{
                padding: 0 0 0 20px;
            }
            header .logo a {
                width: 100px;
                height: 16px;
            }
            header .gnb .gnb_open {
                display: block;
                width: var(--header-h);
                height: var(--header-h);
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_504' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_504)'%3E%3Cpath d='M3.97815 6.49732C3.70101 6.49732 3.4687 6.40358 3.28122 6.2161C3.09374 6.02862 3 5.79631 3 5.51917C3 5.24202 3.09374 5.00971 3.28122 4.82223C3.4687 4.63476 3.70101 4.54102 3.97815 4.54102H19.6286C19.9057 4.54102 20.138 4.63476 20.3255 4.82223C20.513 5.00971 20.6067 5.24202 20.6067 5.51917C20.6067 5.79631 20.513 6.02862 20.3255 6.2161C20.138 6.40358 19.9057 6.49732 19.6286 6.49732H3.97815ZM3.97815 18.2351C3.70101 18.2351 3.4687 18.1414 3.28122 17.9539C3.09374 17.7664 3 17.5341 3 17.257C3 16.9799 3.09374 16.7475 3.28122 16.5601C3.4687 16.3726 3.70101 16.2788 3.97815 16.2788H19.6286C19.9057 16.2788 20.138 16.3726 20.3255 16.5601C20.513 16.7475 20.6067 16.9799 20.6067 17.257C20.6067 17.5341 20.513 17.7664 20.3255 17.9539C20.138 18.1414 19.9057 18.2351 19.6286 18.2351H3.97815ZM3.97815 12.3662C3.70101 12.3662 3.4687 12.2725 3.28122 12.085C3.09374 11.8975 3 11.6652 3 11.3881C3 11.1109 3.09374 10.8786 3.28122 10.6911C3.4687 10.5037 3.70101 10.4099 3.97815 10.4099H19.6286C19.9057 10.4099 20.138 10.5037 20.3255 10.6911C20.513 10.8786 20.6067 11.1109 20.6067 11.3881C20.6067 11.6652 20.513 11.8975 20.3255 12.085C20.138 12.2725 19.9057 12.3662 19.6286 12.3662H3.97815Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header.fixed .gnb .gnb_open {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_504' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_504)'%3E%3Cpath d='M3.97815 6.49732C3.70101 6.49732 3.4687 6.40358 3.28122 6.2161C3.09374 6.02862 3 5.79631 3 5.51917C3 5.24202 3.09374 5.00971 3.28122 4.82223C3.4687 4.63476 3.70101 4.54102 3.97815 4.54102H19.6286C19.9057 4.54102 20.138 4.63476 20.3255 4.82223C20.513 5.00971 20.6067 5.24202 20.6067 5.51917C20.6067 5.79631 20.513 6.02862 20.3255 6.2161C20.138 6.40358 19.9057 6.49732 19.6286 6.49732H3.97815ZM3.97815 18.2351C3.70101 18.2351 3.4687 18.1414 3.28122 17.9539C3.09374 17.7664 3 17.5341 3 17.257C3 16.9799 3.09374 16.7475 3.28122 16.5601C3.4687 16.3726 3.70101 16.2788 3.97815 16.2788H19.6286C19.9057 16.2788 20.138 16.3726 20.3255 16.5601C20.513 16.7475 20.6067 16.9799 20.6067 17.257C20.6067 17.5341 20.513 17.7664 20.3255 17.9539C20.138 18.1414 19.9057 18.2351 19.6286 18.2351H3.97815ZM3.97815 12.3662C3.70101 12.3662 3.4687 12.2725 3.28122 12.085C3.09374 11.8975 3 11.6652 3 11.3881C3 11.1109 3.09374 10.8786 3.28122 10.6911C3.4687 10.5037 3.70101 10.4099 3.97815 10.4099H19.6286C19.9057 10.4099 20.138 10.5037 20.3255 10.6911C20.513 10.8786 20.6067 11.1109 20.6067 11.3881C20.6067 11.6652 20.513 11.8975 20.3255 12.085C20.138 12.2725 19.9057 12.3662 19.6286 12.3662H3.97815Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap {
                display: none;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                color: #1d1d1d;
            }
            header .gnb .gnb_wrap .gnb_util {
                display: none;
                position: absolute;
                left: 20px;
                top: 16px;
                gap: 16px;
            }
            header .gnb .gnb_wrap .gnb_util .mypage,
            header .gnb .gnb_wrap .gnb_util .lang .lang_open,
            header .gnb .gnb_wrap .gnb_util .search .search_open {
                display: block;
                width: 24px;
                height: 24px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            header .gnb .gnb_wrap .gnb_util .mypage {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_850' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_850)'%3E%3Cpath d='M12 12C10.9 12 9.95833 11.6083 9.175 10.825C8.39167 10.0417 8 9.1 8 8C8 6.9 8.39167 5.95833 9.175 5.175C9.95833 4.39167 10.9 4 12 4C13.1 4 14.0417 4.39167 14.825 5.175C15.6083 5.95833 16 6.9 16 8C16 9.1 15.6083 10.0417 14.825 10.825C14.0417 11.6083 13.1 12 12 12ZM4 18V17.2C4 16.6333 4.14583 16.1125 4.4375 15.6375C4.72917 15.1625 5.11667 14.8 5.6 14.55C6.63333 14.0333 7.68333 13.6458 8.75 13.3875C9.81667 13.1292 10.9 13 12 13C13.1 13 14.1833 13.1292 15.25 13.3875C16.3167 13.6458 17.3667 14.0333 18.4 14.55C18.8833 14.8 19.2708 15.1625 19.5625 15.6375C19.8542 16.1125 20 16.6333 20 17.2V18C20 18.55 19.8042 19.0208 19.4125 19.4125C19.0208 19.8042 18.55 20 18 20H6C5.45 20 4.97917 19.8042 4.5875 19.4125C4.19583 19.0208 4 18.55 4 18ZM6 18H18V17.2C18 17.0167 17.9542 16.85 17.8625 16.7C17.7708 16.55 17.65 16.4333 17.5 16.35C16.6 15.9 15.6917 15.5625 14.775 15.3375C13.8583 15.1125 12.9333 15 12 15C11.0667 15 10.1417 15.1125 9.225 15.3375C8.30833 15.5625 7.4 15.9 6.5 16.35C6.35 16.4333 6.22917 16.55 6.1375 16.7C6.04583 16.85 6 17.0167 6 17.2V18ZM12 10C12.55 10 13.0208 9.80417 13.4125 9.4125C13.8042 9.02083 14 8.55 14 8C14 7.45 13.8042 6.97917 13.4125 6.5875C13.0208 6.19583 12.55 6 12 6C11.45 6 10.9792 6.19583 10.5875 6.5875C10.1958 6.97917 10 7.45 10 8C10 8.55 10.1958 9.02083 10.5875 9.4125C10.9792 9.80417 11.45 10 12 10Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap .gnb_util .lang .lang_open {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_853' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_853)'%3E%3Cpath d='M12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.32083 2.7875 8.1125C3.3125 6.90417 4.02917 5.84583 4.9375 4.9375C5.84583 4.02917 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6792 2.2625 15.8875 2.7875C17.0958 3.3125 18.1542 4.02917 19.0625 4.9375C19.9708 5.84583 20.6875 6.90417 21.2125 8.1125C21.7375 9.32083 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.9708 18.1542 19.0625 19.0625C18.1542 19.9708 17.0958 20.6875 15.8875 21.2125C14.6792 21.7375 13.3833 22 12 22ZM12 19.95C12.4333 19.35 12.8083 18.725 13.125 18.075C13.4417 17.425 13.7 16.7333 13.9 16H10.1C10.3 16.7333 10.5583 17.425 10.875 18.075C11.1917 18.725 11.5667 19.35 12 19.95ZM9.4 19.55C9.1 19 8.8375 18.4292 8.6125 17.8375C8.3875 17.2458 8.2 16.6333 8.05 16H5.1C5.58333 16.8333 6.1875 17.5583 6.9125 18.175C7.6375 18.7917 8.46667 19.25 9.4 19.55ZM14.6 19.55C15.5333 19.25 16.3625 18.7917 17.0875 18.175C17.8125 17.5583 18.4167 16.8333 18.9 16H15.95C15.8 16.6333 15.6125 17.2458 15.3875 17.8375C15.1625 18.4292 14.9 19 14.6 19.55ZM4.25 14H7.65C7.6 13.6667 7.5625 13.3375 7.5375 13.0125C7.5125 12.6875 7.5 12.35 7.5 12C7.5 11.65 7.5125 11.3125 7.5375 10.9875C7.5625 10.6625 7.6 10.3333 7.65 10H4.25C4.16667 10.3333 4.10417 10.6625 4.0625 10.9875C4.02083 11.3125 4 11.65 4 12C4 12.35 4.02083 12.6875 4.0625 13.0125C4.10417 13.3375 4.16667 13.6667 4.25 14ZM9.65 14H14.35C14.4 13.6667 14.4375 13.3375 14.4625 13.0125C14.4875 12.6875 14.5 12.35 14.5 12C14.5 11.65 14.4875 11.3125 14.4625 10.9875C14.4375 10.6625 14.4 10.3333 14.35 10H9.65C9.6 10.3333 9.5625 10.6625 9.5375 10.9875C9.5125 11.3125 9.5 11.65 9.5 12C9.5 12.35 9.5125 12.6875 9.5375 13.0125C9.5625 13.3375 9.6 13.6667 9.65 14ZM16.35 14H19.75C19.8333 13.6667 19.8958 13.3375 19.9375 13.0125C19.9792 12.6875 20 12.35 20 12C20 11.65 19.9792 11.3125 19.9375 10.9875C19.8958 10.6625 19.8333 10.3333 19.75 10H16.35C16.4 10.3333 16.4375 10.6625 16.4625 10.9875C16.4875 11.3125 16.5 11.65 16.5 12C16.5 12.35 16.4875 12.6875 16.4625 13.0125C16.4375 13.3375 16.4 13.6667 16.35 14ZM15.95 8H18.9C18.4167 7.16667 17.8125 6.44167 17.0875 5.825C16.3625 5.20833 15.5333 4.75 14.6 4.45C14.9 5 15.1625 5.57083 15.3875 6.1625C15.6125 6.75417 15.8 7.36667 15.95 8ZM10.1 8H13.9C13.7 7.26667 13.4417 6.575 13.125 5.925C12.8083 5.275 12.4333 4.65 12 4.05C11.5667 4.65 11.1917 5.275 10.875 5.925C10.5583 6.575 10.3 7.26667 10.1 8ZM5.1 8H8.05C8.2 7.36667 8.3875 6.75417 8.6125 6.1625C8.8375 5.57083 9.1 5 9.4 4.45C8.46667 4.75 7.6375 5.20833 6.9125 5.825C6.1875 6.44167 5.58333 7.16667 5.1 8Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap .gnb_util .search .search_open {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_856' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_856)'%3E%3Cpath d='M9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L20.3 18.9C20.4833 19.0833 20.575 19.3167 20.575 19.6C20.575 19.8833 20.4833 20.1167 20.3 20.3C20.1167 20.4833 19.8833 20.575 19.6 20.575C19.3167 20.575 19.0833 20.4833 18.9 20.3L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth1 {
                margin: 56px 0 0 0;
                height: calc(100% - 56px);
                overflow-y: auto;
            }
            header .gnb .gnb_wrap ul.depth1 > li {
                border-bottom: 1px solid #ededed;
                width: 100%;
            }
            header .gnb .gnb_wrap ul.depth1 > li:first-child {
                border-top: 1px solid #ccc;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                font-size: 20px;
                font-weight: var(--bold-weight);
                padding: 20px 20px;
                position: relative;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a::after {
                content: "";
                position: absolute;
                right: 16px;
                top: 22px;
                width: 24px;
                height: 24px;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_872' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' width='24' height='24' transform='rotate(90 24 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_872)'%3E%3Cpath d='M11.9995 14.4746L19.3495 7.12462C19.5995 6.87462 19.8953 6.75379 20.237 6.76212C20.5787 6.77046 20.8745 6.89962 21.1245 7.14962C21.3745 7.39962 21.4995 7.69546 21.4995 8.03712C21.4995 8.37879 21.3745 8.67462 21.1245 8.92462L13.4245 16.5996C13.2245 16.7996 12.9995 16.9496 12.7495 17.0496C12.4995 17.1496 12.2495 17.1996 11.9995 17.1996C11.7495 17.1996 11.4995 17.1496 11.2495 17.0496C10.9995 16.9496 10.7745 16.7996 10.5745 16.5996L2.87451 8.89962C2.62451 8.64962 2.50368 8.35796 2.51201 8.02462C2.52034 7.69129 2.64951 7.39962 2.89951 7.14962C3.14951 6.89962 3.44534 6.77462 3.78701 6.77462C4.12868 6.77462 4.42451 6.89962 4.67451 7.14962L11.9995 14.4746Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                background-color: #f4f4f4;
                color: var(--base-color);
                padding: 20px 0 20px 20px;
                display: none;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                display: block;
                line-height: 2;
                padding: 0 0 0 20px;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
                display: inline-block;
                padding-right: 21px;
                position: relative;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::after {
                content: "";
                position: absolute;
                right: 0;
                top: 8px;
                width: 16px;
                height: 16px;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_122_62' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_122_62)'%3E%3Cpath d='M3.33333 14C2.96667 14 2.65278 13.8694 2.39167 13.6083C2.13056 13.3472 2 13.0333 2 12.6667V3.33333C2 2.96667 2.13056 2.65278 2.39167 2.39167C2.65278 2.13056 2.96667 2 3.33333 2H7.33333C7.52222 2 7.68056 2.06389 7.80833 2.19167C7.93611 2.31944 8 2.47778 8 2.66667C8 2.85556 7.93611 3.01389 7.80833 3.14167C7.68056 3.26944 7.52222 3.33333 7.33333 3.33333H3.33333V12.6667H12.6667V8.66667C12.6667 8.47778 12.7306 8.31944 12.8583 8.19167C12.9861 8.06389 13.1444 8 13.3333 8C13.5222 8 13.6806 8.06389 13.8083 8.19167C13.9361 8.31944 14 8.47778 14 8.66667V12.6667C14 13.0333 13.8694 13.3472 13.6083 13.6083C13.3472 13.8694 13.0333 14 12.6667 14H3.33333ZM12.6667 4.26667L6.93333 10C6.81111 10.1222 6.65556 10.1833 6.46667 10.1833C6.27778 10.1833 6.12222 10.1222 6 10C5.87778 9.87778 5.81667 9.72222 5.81667 9.53333C5.81667 9.34444 5.87778 9.18889 6 9.06667L11.7333 3.33333H10C9.81111 3.33333 9.65278 3.26944 9.525 3.14167C9.39722 3.01389 9.33333 2.85556 9.33333 2.66667C9.33333 2.47778 9.39722 2.31944 9.525 2.19167C9.65278 2.06389 9.81111 2 10 2H13.3333C13.5222 2 13.6806 2.06389 13.8083 2.19167C13.9361 2.31944 14 2.47778 14 2.66667V6C14 6.18889 13.9361 6.34722 13.8083 6.475C13.6806 6.60278 13.5222 6.66667 13.3333 6.66667C13.1444 6.66667 12.9861 6.60278 12.8583 6.475C12.7306 6.34722 12.6667 6.18889 12.6667 6V4.26667Z' fill='%23555555'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_close {
                display: none;
                position: fixed;
                right: 0;
                top: 0;
                width: var(--header-h);
                height: var(--header-h);
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99994 9.63327L2.28327 15.3499C2.06938 15.5638 1.79716 15.6708 1.4666 15.6708C1.13605 15.6708 0.863824 15.5638 0.649935 15.3499C0.436046 15.136 0.329102 14.8638 0.329102 14.5333C0.329102 14.2027 0.436046 13.9305 0.649935 13.7166L6.3666 7.99994L0.649935 2.28327C0.436046 2.06938 0.329102 1.79716 0.329102 1.4666C0.329102 1.13605 0.436046 0.863824 0.649935 0.649935C0.863824 0.436046 1.13605 0.329102 1.4666 0.329102C1.79716 0.329102 2.06938 0.436046 2.28327 0.649935L7.99994 6.3666L13.7166 0.649935C13.9305 0.436046 14.2027 0.329102 14.5333 0.329102C14.8638 0.329102 15.136 0.436046 15.3499 0.649935C15.5638 0.863824 15.6708 1.13605 15.6708 1.4666C15.6708 1.79716 15.5638 2.06938 15.3499 2.28327L9.63327 7.99994L15.3499 13.7166C15.5638 13.9305 15.6708 14.2027 15.6708 14.5333C15.6708 14.8638 15.5638 15.136 15.3499 15.3499C15.136 15.5638 14.8638 15.6708 14.5333 15.6708C14.2027 15.6708 13.9305 15.5638 13.7166 15.3499L7.99994 9.63327Z' fill='%23272729'/%3E%3C/svg%3E%0A");
            }
            header .util {
                display: none;
            }
            /* 메뉴가 열렸을때 */
            header.menu_open .gnb .gnb_util {
                display: flex;
            }
            header.menu_open .gnb .gnb_wrap {
                display: block;
            }
            header.menu_open .gnb .gnb_close {
                display: block;
            }
            /* 2차 메뉴가 열렸을때 */
            header .gnb .gnb_wrap ul.depth1 > li.open > a {
                color: var(--point-color);
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_872' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' width='24' height='24' transform='rotate(90 24 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_872)'%3E%3Cpath d='M11.9995 14.4746L19.3495 7.12462C19.5995 6.87462 19.8953 6.75379 20.237 6.76212C20.5787 6.77046 20.8745 6.89962 21.1245 7.14962C21.3745 7.39962 21.4995 7.69546 21.4995 8.03712C21.4995 8.37879 21.3745 8.67462 21.1245 8.92462L13.4245 16.5996C13.2245 16.7996 12.9995 16.9496 12.7495 17.0496C12.4995 17.1496 12.2495 17.1996 11.9995 17.1996C11.7495 17.1996 11.4995 17.1496 11.2495 17.0496C10.9995 16.9496 10.7745 16.7996 10.5745 16.5996L2.87451 8.89962C2.62451 8.64962 2.50368 8.35796 2.51201 8.02462C2.52034 7.69129 2.64951 7.39962 2.89951 7.14962C3.14951 6.89962 3.44534 6.77462 3.78701 6.77462C4.12868 6.77462 4.42451 6.89962 4.67451 7.14962L11.9995 14.4746Z' fill='%23ED174B'/%3E%3C/g%3E%3C/svg%3E%0A");
                transform: rotate(180deg);
            }
}/*@media*/

footer {
    background-color: #1d1d1d;
    color: rgba(255,255,255,0.8);
}
footer .wrapper {
    padding: 60px 0 82px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
footer .group01 {
    width: 370px;
}
footer .group01 .family_site {
    position: relative;
}
footer .group01 .family_site .family_open,
footer .group01 .family_site .family_close {
    display: block;
    width: 100%;
    text-align: left;
    border: 1px solid rgba(255,255,255,0.8);
    padding: 11px 46px 11px 30px;
    position: relative;
}
footer .group01 .family_site .family_open::after,
footer .group01 .family_site .family_close::after {
    content: "";
    position: absolute;
    right: 30px;
    top: 15px;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_79_573' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect y='16' width='16' height='16' transform='rotate(-90 0 16)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_79_573)'%3E%3Cpath d='M8.00008 6.35025L3.10008 11.2503C2.93341 11.4169 2.73619 11.4975 2.50841 11.4919C2.28064 11.4864 2.08341 11.4003 1.91675 11.2336C1.75008 11.0669 1.66675 10.8697 1.66675 10.6419C1.66675 10.4141 1.75008 10.2169 1.91675 10.0503L7.05008 4.93358C7.18341 4.80025 7.33341 4.70025 7.50008 4.63358C7.66675 4.56692 7.83341 4.53358 8.00008 4.53358C8.16675 4.53358 8.33341 4.56692 8.50008 4.63358C8.66675 4.70025 8.81675 4.80025 8.95008 4.93358L14.0834 10.0669C14.2501 10.2336 14.3306 10.428 14.3251 10.6503C14.3195 10.8725 14.2334 11.0669 14.0667 11.2336C13.9001 11.4003 13.7029 11.4836 13.4751 11.4836C13.2473 11.4836 13.0501 11.4003 12.8834 11.2336L8.00008 6.35025Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .group01 .family_site ul {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    z-index: 10;
    padding: 18px 0 18px 30px;
    background-color: #1d1d1d;
    border: 1px solid #fff;
    display: none;
}
footer .group01 .family_site ul li a {
    display: block;
    line-height: 2;
}
footer .group01 .family_site .family_close {
    display: none;
}
/* footer family_site에 open클래스 추가 */
footer .group01 .family_site.open .family_open {
    display: none;
}
footer .group01 .family_site.open .family_close {
    display: block;
}
footer .group01 .family_site.open .family_close::after {
    transform: rotate(180deg);
}
footer .group01 .sns {
    margin: 30px 0 0 0;
}
footer .group01 .sns ul {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
footer .group01 .sns ul li a {
    display: block;
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #3d3d3d;
    background-position: center center;
    background-repeat: no-repeat;
}
footer .group01 .sns ul li.youtube a {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='21' viewBox='0 0 30 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 6.58269C30 2.94313 27.0489 0 23.4181 0H6.58193C2.9428 0 0 2.95142 0 6.58269V14.4173C0 18.0568 2.95109 21 6.58193 21H23.4181C27.0572 21 30 18.0486 30 14.4173V6.58269ZM20.0939 11.0845L12.5421 14.8235C12.2437 14.981 11.2407 14.7655 11.2407 14.4339V6.76508C11.2407 6.42517 12.252 6.20961 12.5504 6.37542L19.7789 10.3052C20.0856 10.4793 20.4007 10.9187 20.0939 11.0845Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .group01 .sns ul li.facebook a {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5089 11.8114L11.0923 8.00982H7.44401V5.54617C7.44401 4.50884 7.95089 3.49509 9.5835 3.49509H11.2397V0.259329C11.2397 0.259329 9.73675 0 8.29864 0C5.29864 0 3.33596 1.82122 3.33596 5.11591V8.00982H0V11.8114H3.33596V21H7.44401V11.8114H10.5089Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .group01 .sns ul li.instagram a {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0593 3.74414C15.3813 3.74414 14.8271 4.29832 14.8271 4.97631C14.8271 5.6543 15.3813 6.20848 16.0593 6.20848C16.7373 6.20848 17.2915 5.6543 17.2915 4.97631C17.2915 4.29832 16.7373 3.74414 16.0593 3.74414Z' fill='white'/%3E%3Cpath d='M10.5884 5.32422C7.7349 5.32422 5.41797 7.64707 5.41797 10.4946C5.41797 13.3422 7.7408 15.665 10.5884 15.665C13.4359 15.665 15.7588 13.3422 15.7588 10.4946C15.7588 7.64707 13.4359 5.32422 10.5884 5.32422ZM10.5884 13.8138C8.76073 13.8138 7.27505 12.3281 7.27505 10.5005C7.27505 8.6729 8.76073 7.18722 10.5884 7.18722C12.416 7.18722 13.9017 8.6729 13.9017 10.5005C13.9017 12.3281 12.416 13.8138 10.5884 13.8138Z' fill='white'/%3E%3Cpath d='M14.6917 21H6.30823C2.82984 21 0 18.1701 0 14.6917V6.30825C0 2.82987 2.82984 0 6.30823 0H14.6917C18.1701 0 21 2.82987 21 6.30825V14.6917C21 18.1701 18.1701 21 14.6917 21ZM6.30823 1.96912C3.92052 1.96912 1.975 3.91466 1.975 6.30236V14.6859C1.975 17.0736 3.92052 19.0191 6.30823 19.0191H14.6917C17.0794 19.0191 19.025 17.0736 19.025 14.6859V6.30236C19.025 3.91466 17.0794 1.96912 14.6917 1.96912H6.30823Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .group01 .sns ul li.blog a {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='21' viewBox='0 0 25 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_423)'%3E%3Cpath d='M13.9601 8.27539C13.4163 8.27539 12.978 8.71371 12.978 9.25748C12.978 9.80125 13.4151 10.237 13.9601 10.237C14.5052 10.237 14.9409 9.79871 14.9409 9.25748C14.9409 8.71625 14.5026 8.27539 13.9601 8.27539Z' fill='white'/%3E%3Cpath d='M19.8464 8.27539C19.3051 8.27539 18.8643 8.71371 18.8643 9.25748C18.8643 9.80125 19.3051 10.237 19.8464 10.237C20.3876 10.237 20.8272 9.79871 20.8272 9.25748C20.8272 8.71625 20.3889 8.27539 19.8464 8.27539Z' fill='white'/%3E%3Cpath d='M5.20641 8.27539C4.66391 8.27539 4.22559 8.71371 4.22559 9.25748C4.22559 9.80125 4.66391 10.237 5.20641 10.237C5.74891 10.237 6.1885 9.79871 6.1885 9.25748C6.1885 8.71625 5.74891 8.27539 5.20641 8.27539Z' fill='white'/%3E%3Cpath d='M21.0178 0H3.94107C1.76218 0 0 1.77488 0 3.95759V13.3453C0 15.5293 1.76218 17.3003 3.94107 17.3003H9.82473L11.8321 20.5668C11.8321 20.5668 11.8524 20.6074 11.8956 20.6608C12.0138 20.8628 12.231 20.9987 12.4801 20.9987C12.7291 20.9987 12.9425 20.8615 13.0607 20.6646C13.1115 20.6061 13.1293 20.5655 13.1293 20.5655L15.1341 17.2991H21.0165C23.1941 17.2991 24.9614 15.528 24.9614 13.344V3.95759C24.9614 1.77361 23.1941 0 21.0165 0H21.0178ZM5.54444 11.5844C4.62333 11.5844 4.25997 10.925 4.25997 10.925V11.4243H2.71759V5.05911H4.24345V7.48448C4.86218 6.87973 5.54571 6.87973 5.54571 6.87973C7.61788 6.87973 7.69793 9.20473 7.69793 9.20473C7.69793 11.5043 5.54571 11.5856 5.54571 11.5856L5.54444 11.5844ZM10.3583 7.30661V11.423H8.88457V7.656C8.88457 6.35628 8.18961 6.38678 8.18961 6.38678V4.91173C10.4231 4.91173 10.3583 7.30661 10.3583 7.30661ZM16.5418 9.25682C16.5418 11.5806 13.9589 11.5844 13.9589 11.5844C11.3531 11.5844 11.4332 9.25682 11.4332 9.25682C11.4332 6.90005 13.9589 6.90005 13.9589 6.90005C16.627 6.90005 16.5418 9.25682 16.5418 9.25682ZM22.2451 11.3658C22.2451 13.776 20.0116 13.7518 20.0116 13.7518H19.4157V12.3975H19.7854C20.8666 12.3975 20.7586 11.2807 20.7586 11.2807V10.9237C20.2822 11.5399 19.4157 11.5069 19.4157 11.5069C17.2914 11.5069 17.3143 9.23903 17.3143 9.23903C17.3143 6.80604 19.4754 6.90005 19.4754 6.90005C20.3203 6.90005 20.7586 7.48321 20.7586 7.48321V7.0487H22.2451V11.3658Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_423'%3E%3Crect width='24.9627' height='21' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .group01 .sns ul li.linked_in a {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.69429C0 1.94828 0.263546 1.31301 0.791054 0.787641C1.31773 0.262269 1.95298 0 2.69555 0C3.46547 0 4.10942 0.257691 4.6274 0.773488C5.14538 1.2897 5.40479 1.92956 5.40479 2.69389C5.40479 3.45822 5.14082 4.10764 4.61373 4.64175C4.08663 5.17587 3.44683 5.44272 2.69555 5.44272C1.96168 5.44272 1.32933 5.17129 0.797681 4.6276C0.266028 4.08474 0 3.43989 0 2.69429ZM0.247797 20.9999V7.04589H5.15698V20.9999H0.247797Z' fill='white'/%3E%3Cpath d='M7.06543 20.9996V7.04562H11.5486V9.87772C12.1996 8.74496 12.9513 7.91611 13.8037 7.39116C14.6565 6.86662 15.6788 6.60352 16.8705 6.60352C17.7689 6.60352 18.5691 6.7488 19.2702 7.03896C19.9714 7.32912 20.5424 7.74625 20.9825 8.28911C21.3488 8.7587 21.6102 9.32987 21.7661 10.0022C21.9223 10.6749 21.9998 11.6786 21.9998 13.0141V20.9996H17.0906V13.5253C17.0906 12.4105 16.9095 11.6004 16.5473 11.0933C16.1852 10.5871 15.6054 10.3336 14.8077 10.3336C13.7904 10.3336 13.0475 10.7116 12.58 11.4667C12.1122 12.2219 11.8785 13.4471 11.8785 15.1418V20.9996H7.06543Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .group01 .sns ul li.n_play a {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_21_431)'%3E%3Cpath d='M5.75323 18.0965C5.75323 19.6852 4.45875 20.9847 2.87661 20.9847C1.29448 20.9847 0 19.6852 0 18.0965V2.91552C0 1.32688 1.29448 0.0273438 2.87661 0.0273438C4.45875 0.0273438 5.75323 1.32688 5.75323 2.91552V18.0965Z' fill='white'/%3E%3Cpath d='M4.46865 20.5584C3.12358 21.4033 1.33473 20.9986 0.492711 19.6593C-0.349313 18.3193 0.0626643 16.5319 1.40773 15.687L13.3739 8.16803C14.7189 7.32312 16.5078 7.72787 17.3498 9.06716C18.1918 10.4072 17.7799 12.1946 16.4348 13.0395L4.46865 20.5584Z' fill='white'/%3E%3Cpath d='M4.46869 0.44147C3.12362 -0.403444 1.33404 0.00130509 0.492742 1.34059C-0.349282 2.6806 0.0626956 4.46801 1.40704 5.31292L13.3703 12.8304C14.7154 13.6753 16.5042 13.2706 17.3462 11.9313C18.1883 10.5913 17.7763 8.80389 16.4312 7.95897L4.46869 0.44147Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_21_431'%3E%3Crect width='17.7859' height='21' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .group02 .f_nav ul {
    display: flex;
    gap: 44px;
}
footer .group02 .f_info {
    color: rgba(255,255,255,0.6);
    margin: 10px 0 0 0;
}
footer .group02 .copyright {
    color: rgba(255,255,255,0.6);
    margin: 10px 0 0 0;
}
footer .logo img {
    width: 188px;
}
@media screen and (max-width:1024px){
    footer .wrapper {
        padding: 106px 0 60px 0;
        flex-direction: column;
        position: relative;
    }
    footer .group01 {
        width: auto;
    }
    footer .group01 .family_site .family_open,
    footer .group01 .family_site .family_close {
        width: 100%;
        max-width: 400px;
    }
    footer .group01 .family_site ul {
        width: 100%;
        max-width: 400px;
    }
    footer .group01 .sns ul {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 5px 5px;
    }
    footer .group02 .f_nav {
        margin: 40px 0 0 0;
    }
    footer .group02 .f_nav ul {
        gap: 5px 44px;
        flex-wrap: wrap;
    }
    footer .group02 .f_info {
        margin: 20px 0 0 0;
    }
    footer .group02 .copyright {
        margin: 30px 0 0 0;
    }
    footer .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 60px;
    }
    footer .logo img {
        width: 100px;
    }
}/*@media*/