@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

.visual .swiper{
    width: 100%;
    height: 100dvh;
}
.visual .swiper .swiper-slide .photo {
    overflow: hidden;
    height: 100%;
}
.visual .swiper .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper .swiper-slide .visual_txt {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: #fff;
}
.visual .swiper .swiper-slide .visual_txt br {
    display: none;
}
.visual .visual_txt h3 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin-bottom: 5px;
}
@media screen and (min-width:769px){
    .visual .swiper-pagination {
        position: absolute;
        left: 50%;
        bottom: 100px;
        z-index: 10;
        transform: translateX(-50%);
        width: calc(100% - 40px);
        max-width: 1260px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .visual .swiper-pagination .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .visual .swiper-pagination .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
    }
    .visual .swiper-pagination .swiper-pagination-bullet-active {
        opacity: 1;
        background: transparent;
    }
    .visual .swiper-pagination .swiper-pagination-bullet {
        width: 33.33%;
        height: auto;
        display: block;
        border-radius: 0;
        background: transparent;
        opacity: 1;
        margin: 0;
        font-size: 0;
        line-height: 0;
        border-bottom: 5px solid rgba(255,255,255,0.2);
        border-radius: 20px;
        position: relative; /* before */
    }
    .visual .swiper-pagination .swiper-pagination-bullet::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 5px;
        background-color: #fff;
        border-radius: 20px;
    }
    .visual .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
        animation-name: visual_pagination;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .visual .ctrl_wrap {
        position: absolute; /* visual을 기준으로 정렬 */
        left: 50%;
        transform: translateX(-50%);
        bottom: 120px;
        z-index: 10;
    }
    .visual .ctrl_wrap button {
        width: 34px;
        height: 34px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .visual .ctrl_wrap button.btn_play {
        display: none;
        background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_109_15' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='36' height='36'%3E%3Crect width='36' height='36' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_109_15)'%3E%3Cpath d='M15.75 24.4508C15.55 24.4508 15.375 24.382 15.225 24.2445C15.075 24.107 15 23.9258 15 23.7008V12.3008C15 12.0758 15.075 11.8945 15.225 11.757C15.375 11.6195 15.55 11.5508 15.75 11.5508C15.8 11.5508 15.975 11.6258 16.275 11.7758L21.7125 17.2133C21.8375 17.3383 21.925 17.4633 21.975 17.5883C22.025 17.7133 22.05 17.8508 22.05 18.0008C22.05 18.1508 22.025 18.2883 21.975 18.4133C21.925 18.5383 21.8375 18.6633 21.7125 18.7883L16.275 24.2258C16.2 24.3008 16.1188 24.357 16.0313 24.3945C15.9438 24.432 15.85 24.4508 15.75 24.4508Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .visual .ctrl_wrap button.btn_stop {
        background-size: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_109_36' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_109_36)'%3E%3Cpath d='M16 19C15.45 19 14.9792 18.8042 14.5875 18.4125C14.1958 18.0208 14 17.55 14 17V7C14 6.45 14.1958 5.97917 14.5875 5.5875C14.9792 5.19583 15.45 5 16 5C16.55 5 17.0208 5.19583 17.4125 5.5875C17.8042 5.97917 18 6.45 18 7V17C18 17.55 17.8042 18.0208 17.4125 18.4125C17.0208 18.8042 16.55 19 16 19ZM8 19C7.45 19 6.97917 18.8042 6.5875 18.4125C6.19583 18.0208 6 17.55 6 17V7C6 6.45 6.19583 5.97917 6.5875 5.5875C6.97917 5.19583 7.45 5 8 5C8.55 5 9.02083 5.19583 9.4125 5.5875C9.80417 5.97917 10 6.45 10 7V17C10 17.55 9.80417 18.0208 9.4125 18.4125C9.02083 18.8042 8.55 19 8 19Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}/*@media*/

@keyframes visual_pagination {
    0% { width: 0; }
    100% { width: 100%; }
}

@media screen and (max-width:768px){
            .visual .swiper{
                height: 600px;
            }
            .visual .swiper .swiper-slide .visual_txt {
                text-align: center;
            }
            .visual .swiper .swiper-slide .visual_txt br {
                display: block;
            }
            .visual .visual_txt h3 {
                margin-bottom: 10px;
            }
            .visual .swiper-pagination {
                position: absolute; /* swiper */
                left: 50%;
                bottom: 30px;
                z-index: 10;
                transform: translateX(-50%);
                display: flex;
                width: auto;
                gap: 5px;
            }
            .visual .swiper-pagination .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
            .visual .swiper-pagination .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0;
            }
            .visual .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
                opacity: 1;
                background: #fff;
                width: 30px;
            }
            .visual .swiper-pagination .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                display: block;
                border-radius: 10px;
                background: rgba(255,255,255,0.6);
                opacity: 1;
                font-size: 0;
                line-height: 0;
                margin: 0;
            }
}/*@media*/

.biz {
    margin: 180px 0 0 0;
}
.biz .biz_tit {
    position: relative;
}
.biz .biz_tit h2 {
    font-size: var(--main-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin-bottom: 10px;
}
.biz .biz_tit .more {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 36px;
    height: 36px;
    border: 1px solid #1d1d1d;
    border-radius: 50%;
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_141_12' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect width='14' height='14' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_141_12)'%3E%3Cpath d='M6.41667 7.58366H3.50001C3.33473 7.58366 3.19619 7.52776 3.08438 7.41595C2.97257 7.30415 2.91667 7.1656 2.91667 7.00033C2.91667 6.83505 2.97257 6.69651 3.08438 6.5847C3.19619 6.4729 3.33473 6.41699 3.50001 6.41699H6.41667V3.50033C6.41667 3.33505 6.47257 3.19651 6.58438 3.0847C6.69619 2.97289 6.83473 2.91699 7.00001 2.91699C7.16528 2.91699 7.30382 2.97289 7.41563 3.0847C7.52744 3.19651 7.58334 3.33505 7.58334 3.50033V6.41699H10.5C10.6653 6.41699 10.8038 6.4729 10.9156 6.5847C11.0274 6.69651 11.0833 6.83505 11.0833 7.00033C11.0833 7.1656 11.0274 7.30415 10.9156 7.41595C10.8038 7.52776 10.6653 7.58366 10.5 7.58366H7.58334V10.5003C7.58334 10.6656 7.52744 10.8041 7.41563 10.916C7.30382 11.0278 7.16528 11.0837 7.00001 11.0837C6.83473 11.0837 6.69619 11.0278 6.58438 10.916C6.47257 10.8041 6.41667 10.6656 6.41667 10.5003V7.58366Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    display: none;
}
.biz .list {
    margin: 40px 0 0 0;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}
.biz .list ul li {
    flex: 1 1 0%;
    transition: 0.5s;
}
.biz .list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
    padding: 0 0 40px 0;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    position: relative; /*after*/
}
.biz .list ul li a::after {
    content: "";
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 46px;
    height: 46px;
    background-color: var(--point-color);
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_339' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_339)'%3E%3Cpath d='M16.175 13.0001H5C4.71667 13.0001 4.47917 12.9043 4.2875 12.7126C4.09583 12.5209 4 12.2834 4 12.0001C4 11.7168 4.09583 11.4793 4.2875 11.2876C4.47917 11.0959 4.71667 11.0001 5 11.0001H16.175L11.275 6.10011C11.075 5.90011 10.9792 5.66678 10.9875 5.40011C10.9958 5.13344 11.1 4.90011 11.3 4.70011C11.5 4.51678 11.7333 4.42094 12 4.41261C12.2667 4.40428 12.5 4.50011 12.7 4.70011L19.3 11.3001C19.4 11.4001 19.4708 11.5084 19.5125 11.6251C19.5542 11.7418 19.575 11.8668 19.575 12.0001C19.575 12.1334 19.5542 12.2584 19.5125 12.3751C19.4708 12.4918 19.4 12.6001 19.3 12.7001L12.7 19.3001C12.5167 19.4834 12.2875 19.5751 12.0125 19.5751C11.7375 19.5751 11.5 19.4834 11.3 19.3001C11.1 19.1001 11 18.8626 11 18.5876C11 18.3126 11.1 18.0751 11.3 17.8751L16.175 13.0001Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    display: none;
}
.biz .list ul li.list01 a {
    background: url(../images/main/biz01.jpg) no-repeat center center / cover;
}
.biz .list ul li.list02 a {
    background: url(../images/main/biz02.jpg) no-repeat center center / cover;
}
.biz .list ul li.list03 a {
    background: url(../images/main/biz03.jpg) no-repeat center center / cover;
}
.biz .list ul li a h3 {
    font-size: var(--sub-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
.biz .list ul li a p {
    margin-top: 10px;
    /* 2줄제한 */
    height: 3em; /* 행간 * 줄수 = em */
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 줄수 */

    word-break: normal;
    display: none;
}
@media screen and (min-width:1025px){
    .biz .list ul li.on a p {
        display: block;
    }
    .biz .list ul li.on a h3 br {
        display: none;
    }
}/*@media*/
@media screen and (min-width:769px){
    /*마우스 오버했을때 pc*/
    .biz .list ul li.on {
        flex: 2.2 1 0%;
    }
    .biz .list ul li.on a {
        text-align: left;
        padding: 0 100px 40px 40px;
    }
    .biz .list ul li.on a::after {
        display: block;
    }
}/*@media*/
@media screen and (max-width:1024px){
            .biz .list ul li a {
                height: 300px;
            }
}/*@media*/
@media screen and (max-width:768px){
            .biz {
                margin: 90px 0 0 0;
            }
            .biz .biz_tit h2 {
                margin-bottom: 0;
            }
            .biz .biz_tit p {
                display: none;
            }
            .biz .biz_tit .more {
                display: block;
            }
            .biz .list {
                margin: 30px 0 0 0;
            }
            .biz .list ul {
                display: block;
            }
            .biz .list ul li {
                flex: none;
                margin: 0 0 10px 0;
            }
            .biz .list ul li:last-child {
                margin: 0;
            }
            .biz .list ul li a {
                height: 180px;
                padding: 0 20px 20px 20px;
                text-align: left;
                border-radius: 5px;
            }
            .biz .list ul li a h3 br {
                display: none;
            }
}/*@media*/

.esg {
    margin: 300px 0 0 0;
    position: relative;
}
.esg .mobile_bg {
    position: absolute;
    height: 900px;
    width: 100%;
    top: -20%;
    z-index: -11;
    display: none;
}
.esg .mobile_bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.esg .esg_tit {
    color: var(--tit-color);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    transition: 1.5s;
}
.esg .esg_tit h2 {
    font-size: var(--sub-font-size);
    margin: 0 0 60px 0;
}
.esg .esg_tit p {
    font-size: var(--tit-font-size);
    text-align: center;
}
.esg .esg_txt ul{
    margin: 350px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 200px;
    font-size: var(--sub-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
.esg .esg_txt ul li a {
    display: block;
    padding-right: 40px;
    position: relative;
}
.esg .esg_txt ul li a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 4px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_1130' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_1130)'%3E%3Cpath d='M20.2188 16.2506H6.25C5.89583 16.2506 5.59896 16.1308 5.35938 15.8912C5.11979 15.6517 5 15.3548 5 15.0006C5 14.6465 5.11979 14.3496 5.35938 14.11C5.59896 13.8704 5.89583 13.7506 6.25 13.7506H20.2188L14.0938 7.62562C13.8438 7.37562 13.724 7.08396 13.7344 6.75063C13.7448 6.41729 13.875 6.12563 14.125 5.87563C14.375 5.64646 14.6667 5.52667 15 5.51625C15.3333 5.50583 15.625 5.62563 15.875 5.87563L24.125 14.1256C24.25 14.2506 24.3385 14.386 24.3906 14.5319C24.4427 14.6777 24.4688 14.834 24.4688 15.0006C24.4688 15.1673 24.4427 15.3235 24.3906 15.4694C24.3385 15.6152 24.25 15.7506 24.125 15.8756L15.875 24.1256C15.6458 24.3548 15.3594 24.4694 15.0156 24.4694C14.6719 24.4694 14.375 24.3548 14.125 24.1256C13.875 23.8756 13.75 23.5788 13.75 23.235C13.75 22.8913 13.875 22.5944 14.125 22.3444L20.2188 16.2506Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.esg .photo {
    height: 500px;
    position: absolute;
    bottom: -22%;
    left: 50%;
    transform: translate(-50%);
    z-index: -10;
    width: 50%;
    background: url(../images/main/esg_bg.jpg) no-repeat center center / cover;
}
@media screen and (min-width:1025px){
    .esg.dark {
        color: #fff;
    }
    .esg.dark .esg_tit {
        color: #fff;
    }
}/*@media*/
@media screen and (min-width:769px){
    .esg .esg_txt ul li:hover a {
        color: var(--point-color);
    }
    .esg .esg_txt ul li:hover a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_1130' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_1130)'%3E%3Cpath d='M20.2188 16.2506H6.25C5.89583 16.2506 5.59896 16.1308 5.35938 15.8912C5.11979 15.6517 5 15.3548 5 15.0006C5 14.6465 5.11979 14.3496 5.35938 14.11C5.59896 13.8704 5.89583 13.7506 6.25 13.7506H20.2188L14.0938 7.62562C13.8438 7.37562 13.724 7.08396 13.7344 6.75063C13.7448 6.41729 13.875 6.12563 14.125 5.87563C14.375 5.64646 14.6667 5.52667 15 5.51625C15.3333 5.50583 15.625 5.62563 15.875 5.87563L24.125 14.1256C24.25 14.2506 24.3385 14.386 24.3906 14.5319C24.4427 14.6777 24.4688 14.834 24.4688 15.0006C24.4688 15.1673 24.4427 15.3235 24.3906 15.4694C24.3385 15.6152 24.25 15.7506 24.125 15.8756L15.875 24.1256C15.6458 24.3548 15.3594 24.4694 15.0156 24.4694C14.6719 24.4694 14.375 24.3548 14.125 24.1256C13.875 23.8756 13.75 23.5788 13.75 23.235C13.75 22.8913 13.875 22.5944 14.125 22.3444L20.2188 16.2506Z' fill='%23ED174B'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}/*@media*/
@media screen and (max-width:1200px){
    .esg .esg_txt ul{
        gap: 100px;
    }
}/*@media*/
@media screen and (max-width:1024px){
            .esg .mobile_bg {
                display: block;
            }
            .esg .esg_tit {
                color: #fff;
            }
            .esg .esg_txt ul li a {
                padding-right: 34px;
                color: #fff;
            }
            .esg .esg_txt ul li a::after {
                width: 24px;
                height: 24px;
            }
            .esg .photo {
                display: none;
            }
}/*@media*/
@media screen and (max-width:768px){
            .esg {
                margin: 200px 0 0 0;
                position: relative;
            }
            .esg .mobile_bg {
                height: 700px;
                top: -20%;
            }
            .esg .esg_tit h2 {
                margin: 0 0 50px 0;
            }
            .esg .esg_tit p {
                text-align: left;
                word-break: normal;
            }
            .esg .esg_tit p br {
                display: none;
            }
            .esg .esg_txt ul{
                margin: 130px 0 0 0;
                display: block;
            }
            .esg .esg_txt ul li a {
                display: inline-block;
                margin-bottom: 40px;
            }
            .esg .esg_txt ul li:last-child a {
                margin-bottom: 0;
            }
            .esg .esg_txt ul li a::after {
                width: 20px;
                height: 20px;
                top: 2px;
            }
}/*@media*/

.news {
    margin: 330px 0 0 0;
    position: relative;
}
.news .news_tit h2 {
    color: var(--tit-color);
    font-size: var(--main-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
.news .news_tit p {
    margin: 10px 0 0 0;
}
.news .list {
    margin: 40px 0 0 0;
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px - 24px);
}
@media screen and (max-width:1300px){
    .news .list {
        left: 20px;
        width: calc(100% - 40px);
    }
}/*@media*/
.news .list .swiper {
    overflow: visible; /* hidden 해제 */
}
.news .list .swiper-slide {
    width: 404px;
}
.news .list .swiper-slide a {
    display: block;
    position: relative;
}
.news .list .swiper-slide a .photo {
    overflow: hidden;
    height: 250px;
    border-radius: 10px;
}
.news .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.news .list .swiper-slide a h3 {
    margin: 30px 0 20px 0;
    font-size: 25px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);

    /* 2줄제한 */
    height: 2.4em; /* 행간 * 줄수 = em */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 줄수 */

    word-break: normal; /* 단어별 줄바꿈 해제 */
}
.news .list .swiper-slide a span {
    font-size: 20px;
}
.news .ctrl_wrap {
    margin: 50px 0 0 0;
}
.news .ctrl_wrap .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.news .ctrl_wrap .btn_prev,
.news .ctrl_wrap .btn_next {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #1d1d1d;
}
.news .ctrl_wrap .btn_prev::after {
    content: "";
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_231' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect x='16' y='16' width='16' height='16' transform='rotate(-180 16 16)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_231)'%3E%3Cpath d='M6.35001 8.00065L11.25 12.9007C11.4167 13.0673 11.4972 13.2645 11.4917 13.4923C11.4861 13.7201 11.4 13.9173 11.2333 14.084C11.0667 14.2507 10.8695 14.334 10.6417 14.334C10.4139 14.334 10.2167 14.2507 10.05 14.084L4.93334 8.95065C4.80001 8.81732 4.70001 8.66732 4.63334 8.50065C4.56667 8.33398 4.53334 8.16732 4.53334 8.00065C4.53334 7.83398 4.56667 7.66732 4.63334 7.50065C4.70001 7.33398 4.80001 7.18398 4.93334 7.05065L10.0667 1.91732C10.2333 1.75065 10.4278 1.67009 10.65 1.67565C10.8722 1.68121 11.0667 1.76732 11.2333 1.93398C11.4 2.10065 11.4833 2.29787 11.4833 2.52565C11.4833 2.75343 11.4 2.95065 11.2333 3.11732L6.35001 8.00065Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.news .ctrl_wrap .btn_next::after {
    content: "";
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_228' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_228)'%3E%3Cpath d='M9.64999 7.99935L4.74999 3.09935C4.58333 2.93268 4.50277 2.73546 4.50833 2.50768C4.51388 2.2799 4.59999 2.08268 4.76666 1.91602C4.93333 1.74935 5.13055 1.66602 5.35833 1.66602C5.5861 1.66602 5.78333 1.74935 5.94999 1.91602L11.0667 7.04935C11.2 7.18268 11.3 7.33268 11.3667 7.49935C11.4333 7.66602 11.4667 7.83268 11.4667 7.99935C11.4667 8.16602 11.4333 8.33268 11.3667 8.49935C11.3 8.66602 11.2 8.81602 11.0667 8.94935L5.93333 14.0827C5.76666 14.2493 5.57221 14.3299 5.34999 14.3244C5.12777 14.3188 4.93333 14.2327 4.76666 14.066C4.59999 13.8993 4.51666 13.7021 4.51666 13.4743C4.51666 13.2466 4.59999 13.0493 4.76666 12.8827L9.64999 7.99935Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.news .more {
    display: block;
    border: 1px solid #1d1d1d;
    border-radius: 20px;
    padding: 5px 40px 5px 21px;
    color: #1d1d1d;
    position: relative;
}
.news .more::after {
    content: "";
    position: absolute;
    right: 19px;
    top: 9px;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_221' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_221)'%3E%3Cpath d='M8 14C7.81111 14 7.65278 13.9361 7.525 13.8083C7.39722 13.6806 7.33333 13.5222 7.33333 13.3333V8.66667H2.66667C2.47778 8.66667 2.31944 8.60278 2.19167 8.475C2.06389 8.34722 2 8.18889 2 8C2 7.81111 2.06389 7.65278 2.19167 7.525C2.31944 7.39722 2.47778 7.33333 2.66667 7.33333H7.33333V2.66667C7.33333 2.47778 7.39722 2.31944 7.525 2.19167C7.65278 2.06389 7.81111 2 8 2C8.18889 2 8.34722 2.06389 8.475 2.19167C8.60278 2.31944 8.66667 2.47778 8.66667 2.66667V7.33333H13.3333C13.5222 7.33333 13.6806 7.39722 13.8083 7.525C13.9361 7.65278 14 7.81111 14 8C14 8.18889 13.9361 8.34722 13.8083 8.475C13.6806 8.60278 13.5222 8.66667 13.3333 8.66667H8.66667V13.3333C8.66667 13.5222 8.60278 13.6806 8.475 13.8083C8.34722 13.9361 8.18889 14 8 14Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (min-width:769px){
    .news .list .swiper-slide a:hover .photo {
        box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    }
    .news .list .swiper-slide a:hover .photo img {
        transform: scale3d(1.2,1.2,1);
    }
    .news .ctrl_wrap .btn_prev:hover,
    .news .ctrl_wrap .btn_next:hover {
        border: 1px solid var(--point-color);
        background-color: var(--point-color);
    }
    .news .ctrl_wrap .btn_prev:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_231' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect x='16' y='16' width='16' height='16' transform='rotate(-180 16 16)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_231)'%3E%3Cpath d='M6.35001 8.00065L11.25 12.9007C11.4167 13.0673 11.4972 13.2645 11.4917 13.4923C11.4861 13.7201 11.4 13.9173 11.2333 14.084C11.0667 14.2507 10.8695 14.334 10.6417 14.334C10.4139 14.334 10.2167 14.2507 10.05 14.084L4.93334 8.95065C4.80001 8.81732 4.70001 8.66732 4.63334 8.50065C4.56667 8.33398 4.53334 8.16732 4.53334 8.00065C4.53334 7.83398 4.56667 7.66732 4.63334 7.50065C4.70001 7.33398 4.80001 7.18398 4.93334 7.05065L10.0667 1.91732C10.2333 1.75065 10.4278 1.67009 10.65 1.67565C10.8722 1.68121 11.0667 1.76732 11.2333 1.93398C11.4 2.10065 11.4833 2.29787 11.4833 2.52565C11.4833 2.75343 11.4 2.95065 11.2333 3.11732L6.35001 8.00065Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .news .ctrl_wrap .btn_next:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_228' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_228)'%3E%3Cpath d='M9.64999 7.99935L4.74999 3.09935C4.58333 2.93268 4.50277 2.73546 4.50833 2.50768C4.51388 2.2799 4.59999 2.08268 4.76666 1.91602C4.93333 1.74935 5.13055 1.66602 5.35833 1.66602C5.5861 1.66602 5.78333 1.74935 5.94999 1.91602L11.0667 7.04935C11.2 7.18268 11.3 7.33268 11.3667 7.49935C11.4333 7.66602 11.4667 7.83268 11.4667 7.99935C11.4667 8.16602 11.4333 8.33268 11.3667 8.49935C11.3 8.66602 11.2 8.81602 11.0667 8.94935L5.93333 14.0827C5.76666 14.2493 5.57221 14.3299 5.34999 14.3244C5.12777 14.3188 4.93333 14.2327 4.76666 14.066C4.59999 13.8993 4.51666 13.7021 4.51666 13.4743C4.51666 13.2466 4.59999 13.0493 4.76666 12.8827L9.64999 7.99935Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .news .more:hover {
        border: 1px solid #fff;
        color: #fff;
        background-color: var(--main-color);
    }
    .news .more:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_21_221' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_221)'%3E%3Cpath d='M8 14C7.81111 14 7.65278 13.9361 7.525 13.8083C7.39722 13.6806 7.33333 13.5222 7.33333 13.3333V8.66667H2.66667C2.47778 8.66667 2.31944 8.60278 2.19167 8.475C2.06389 8.34722 2 8.18889 2 8C2 7.81111 2.06389 7.65278 2.19167 7.525C2.31944 7.39722 2.47778 7.33333 2.66667 7.33333H7.33333V2.66667C7.33333 2.47778 7.39722 2.31944 7.525 2.19167C7.65278 2.06389 7.81111 2 8 2C8.18889 2 8.34722 2.06389 8.475 2.19167C8.60278 2.31944 8.66667 2.47778 8.66667 2.66667V7.33333H13.3333C13.5222 7.33333 13.6806 7.39722 13.8083 7.525C13.9361 7.65278 14 7.81111 14 8C14 8.18889 13.9361 8.34722 13.8083 8.475C13.6806 8.60278 13.5222 8.66667 13.3333 8.66667H8.66667V13.3333C8.66667 13.5222 8.60278 13.6806 8.475 13.8083C8.34722 13.9361 8.18889 14 8 14Z' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}/*@media*/
@media screen and (max-width:1024px){
            .news .list .swiper-slide {
                width: 300px;
            }
            .news .list .swiper-slide a .photo {
                height: 200px;
                border-radius: 5px;
            }
            .news .list .swiper-slide a h3 {
                margin: 20px 0 20px 0;
                font-size: 20px;
            }
            .news .list .swiper-slide a span {
                font-size: 17px;
            }
}/*@media*/
@media screen and (max-width:768px){
            .news .news_tit p {
                display: none;
            }
            .news .list {
                margin: 30px 0 0 0;
            }
            .news .list .swiper-slide {
                width: 264px;
            }
            .news .list .swiper-slide a span {
                font-size: 16px;
            }
            .news .ctrl_wrap {
                margin: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
            .news .ctrl_wrap .btn_prev,
            .news .ctrl_wrap .btn_next {
                display: none;
            }
            .news .more {
                border-radius: 50%;
                padding: 0;
                width: 36px;
                height: 36px;
            }
            .news .more::after {
                right: 7px;
                top: 7px;
                width: 20px;
                height: 20px;
            }
            .news .more span {
                display: none;
            }
}/*@media*/

.service {
    margin: 180px 0 0 0;
}
.service .list ul {
    display: flex;
    align-items: center;
    width: 100%;
}
.service .list ul li {
    width: 50%;
    text-align: center;
    transition: 0.5s;
}
.service .list ul li.ir {
    background: url(../images/main/service01.jpg) no-repeat center center / cover;
}
.service .list ul li.reqruit {
    background: url(../images/main/service02.jpg) no-repeat center center / cover;
}
.service .list ul li a {
    display: block;
    padding: 87px 0;
    color: #fff;
}
.service .list ul li a h3 {
    font-size: 40px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0 0 20px 0;
}
.service .list ul li a .more {
    display: inline-block;
    margin: 40px 0 0 0;
    color: rgba(255,255,255,0.8);
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 8px 44px 8px 20px;
    position: relative;
}
.service .list ul li a .more::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 11px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_74_341' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_74_341)'%3E%3Cpath d='M13.4791 10.8324H4.16659C3.93047 10.8324 3.73256 10.7526 3.57284 10.5929C3.41311 10.4331 3.33325 10.2352 3.33325 9.99911C3.33325 9.763 3.41311 9.56509 3.57284 9.40536C3.73256 9.24564 3.93047 9.16578 4.16659 9.16578H13.4791L9.39575 5.08245C9.22909 4.91578 9.14922 4.72134 9.15617 4.49911C9.16311 4.27689 9.24992 4.08245 9.41659 3.91578C9.58325 3.763 9.7777 3.68314 9.99992 3.6762C10.2221 3.66925 10.4166 3.74911 10.5833 3.91578L16.0833 9.41578C16.1666 9.49911 16.2256 9.58939 16.2603 9.68661C16.2951 9.78384 16.3124 9.888 16.3124 9.99911C16.3124 10.1102 16.2951 10.2144 16.2603 10.3116C16.2256 10.4088 16.1666 10.4991 16.0833 10.5824L10.5833 16.0824C10.4305 16.2352 10.2395 16.3116 10.0103 16.3116C9.78117 16.3116 9.58325 16.2352 9.41659 16.0824C9.24992 15.9158 9.16659 15.7179 9.16659 15.4887C9.16659 15.2595 9.24992 15.0616 9.41659 14.8949L13.4791 10.8324Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (min-width:769px){
    
}/*@media*/
@media screen and (max-width:1024px){
            .service .list ul li a {
                padding: 60px 0;
            }
            .service .list ul li a h3 {
                font-size: 30px;
            }
            .service .list ul li a p {
                font-size: 16px;
            }
            .service .list ul li a .more {
                margin: 30px 0 0 0;
            }
            .service .list ul li a .more::after {
                top: 10px;
            }
}/*@media*/
@media screen and (max-width:768px){
            .service {
                margin: 90px 0 0 0;
            }
            .service .list ul {
                display: block;
            }
            .service .list ul li {
                width: 100%;
            }
            .service .list ul li a {
                padding: 48px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
            .service .list ul li a h3 {
                font-size: 20px;
                margin: 0;
            }
            .service .list ul li a p {
                display: none;
            }
            .service .list ul li a .more {
                margin: 0;
                border-radius: 50%;
                padding: 3px 3px;
                width: 20px;
                height: 20px;
            }
            .service .list ul li a .more span {
                display: none;
            }
            .service .list ul li a .more::after {
                right: 2px;
                top: 2px;
                width: 14px;
                height: 14px;
                background-size: 14px;
            }
}/*@media*/