
// Breakpoints
$breakpoint_mobile_p: 500px;
$breakpoint_mobile: 768px;
$breakpoint_desktop: 1024px;
$breakpoint_desktop_p2: 1300px;
$breakpoint_desktop_p: 1500px;

$header_h : 100px;
$header_h_m : -100px;
$header_m_h : 56px;
$header_m_h_m : -56px;
$tit_color : #1d1d1d;
$base_color : #555;
$main_color : #E75300;
$point_color : #CDAC9A;
$bold_weight : 700;
$tit_font_size : 100px;
$tit_font_size_t : 60px;
$tit_font_size_m : 40px;
$tit_line_h : 1.2;

$transition-duration: 0.6s;
$transition-ease: ease-out;
$translate-distance: 30px;